@model WEB.ViewModels.RequisicaoViewModel

@{
    ViewBag.Title = "Create";
}
<style>
    .addProd {
        margin-top: 7px;
    }

    .titulo-invoice {
        padding: 20px 25px 0px 25px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="titulo-invoice">
        <h4>Requisição de Produtos</h4>
        <hr />
    </div>
    <div class="invoice">
        <div style="display:flex; flex-direction:row;">
            <div class="col-md-11">
                <label>Usuário</label>
                <div>
                    @Html.DisplayFor(m => m.NomeUsuario)
                </div>
            </div>
            <div class="col-md-1">
                <label>Data Requisição</label>
                <div class='time-frame'>
                    <div id='date-part'></div>
                    <div id='time-part'></div>
                </div>
            </div>
        </div>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:flex; flex-direction:row">
            <div class="col-md-4">
                <div>
                    @Html.Label("Selecione para adicionar")
                </div>
                @Html.DropDownList("ProdutoId", "Selecione...")
            </div>
            <div class="col-md-1">
                <div>
                    <label>Quantidade</label>
                </div>
                <input type="number" class="form-control" id="qtd" min="1" onkeyup="if(this.value<0){this.value= this.value * -1}"/>
            </div>
            <div class="col-md-7">
                <div>
                    <label></label>
                </div>
                <div class="btn btn-default addProd">Adicionar</div>
            </div>
        </div>

        <h4>Produtos Inclusos</h4>
        <hr />
        <table class="table" id="ProdTable">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" width="500">
                        Nome
                    </th>
                    <th scope="col" width="50">
                        Quantidade
                    </th>
                    <th scope="col" width="100">
                        Preço de Custo
                    </th>
                    <th scope="col" width="100">
                        Subtotal
                    </th>
                    <th scope="col" width="200">Ação</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="form-group" style="display:flex">
            <div class="col-md-11">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
            <div class="col-md-1">
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-warning" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("<tr id='placeholder' style='border-bottom: 1px solid #e5e5e5;'><td colspan=5 style='text-align:center'>Lista Vazia</td></tr>").appendTo($("#ProdTable"));
            $('#ProdutoId').addClass('form-control');
           setInterval(function () {
                var momentNow = moment();
                $('#date-part').html(momentNow.format('DD/MM/YYYY'));
                $('#time-part').html(momentNow.format('A hh:mm:ss'));
            }, 100);

        });

        $(".addProd").click(function () {

            var produtoSelect = $("#ProdutoId").children("option:selected").val();
            var quantidade = $("#qtd").val();
            $.ajax({
                url: "@Url.Action("AdicionarProduto", "Requisicao")",
                type: 'POST',
                data: { produtoId: produtoSelect, quantidade: quantidade },
                success: function (result) {
                    $('#ProdTable tbody').empty();
                    if($('#ProdTable #placeholder').length > 0 ){
                        $('#ProdTable tbody tr')[0].remove()
                    }
                    $("#ProdTable tbody").html(result);
                }
            });
        });


        $("#ProdTable").delegate(".btn-danger", "click", function () {    
            var id = $(this).closest("tr").attr('value');
            var elemento = $(this).closest("tr");
             $.ajax({
                url: "@Url.Action("RemoverProduto", "Requisicao")",
                type: 'POST',
                dataType: 'json',
                data: { produtoId: id},
                success: function (result) {                   
                    $(elemento).remove()                 
                }
            });
        });
    </script>
}
