@model WEB.ViewModels.RequisicaoViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Requisição de Produtos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Selecione um produto para adicionar")
            <div class="col-md-10">
                @Html.DropDownList("ProdutoId", String.Empty)
            </div>
        </div>

        <h4>Produtos Inclusos</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Nome
            </dt>
            <dd>
                quantidade
            </dd>
            <dd>
                precusto
            </dd>
            <dd>
                subtotal
            </dd>
        </dl>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
