@model WEB.ViewModels.RequisicaoViewModel

@{
    ViewBag.Title = "Create";
}
<style>
    .addProd {
        margin-top: 7px;
    }
</style>
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="invoice">
        <h4>Requisição de Produtos</h4>
        <hr />
        <div style="display:flex; flex-direction:row;">
            <div class="col-md-9">
                <label>Usuário</label>
                <div>
                    @Html.DisplayFor(m => m.NomeUsuario)
                </div>
            </div>
            <div class="col-md-3">
                <label>Data Requisição</label>
                <div class='time-frame'>
                    <div id='date-part'></div>
                    <div id='time-part'></div>
                </div>
            </div>
        </div>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="display:flex; flex-direction:row">
            <div class="col-md-4">
                <div>
                    @Html.Label("Selecione para adicionar")
                </div>
                @Html.DropDownList("ProdutoId", String.Empty)
            </div>
            <div class="col-md-1">
                <div>
                    <label>Quantidade</label>
                </div>
                <input type="number" class="form-control" id="qtd" />
            </div>
            <div class="col-md-7">
                <div>
                    <label></label>
                </div>
                <div class="btn btn-default addProd">Adicionar</div>
            </div>
        </div>

        <h4>Produtos Inclusos</h4>
        <hr />
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        Nome
                    </th>
                    <th scope="col">
                        Quantidade
                    </th>
                    <th scope="col">
                        Preço de Custo
                    </th>
                    <th scope="col">
                        Subtotal
                    </th>
                    <th scope="col">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Teste</td>
                    <td>2</td>
                    <td>10,00</td>
                    <td>20,00</td>
                    <td><div class="btn btn-danger">Remover</div></td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {

            $('#ProdutoId').addClass('form-control');
            var interval = setInterval(function () {
                var momentNow = moment();
                $('#date-part').html(momentNow.format('DD/MM/YYYY'));
                $('#time-part').html(momentNow.format('A hh:mm:ss'));
            }, 100);

        });

        $(".addProd").click(function () {
            var produtoSelect = $("#ProdutoId").children("option:selected").val();
            var quantidade = $("#qtd").val();
            alert("produto: " + produtoSelect + " quantidde: " + quantidade);

            $.ajax({
                url: "@Url.Action("AdicionarProduto", "Requisicao")",
                type: 'POST',
                dataType: 'json',
                data: { produtoId: produtoSelect, quantidade: quantidade },
                success: function (result) {
                    if (result.status) {
                        } else {
                    }
                }
            });
        });
    </script>
}
