@model IEnumerable<WEB.ViewModels.RequisicaoViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="titulo-invoice">
    <h4>Lista de Requisições</h4>
    <hr />
</div>
<div class="content invoice">
    <p style="margin-top: 20px;">
        @Html.ActionLink("Nova Solicitação", "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    Requisitório
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataRequisicao)
                </th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRequisicao)
                        </td>
                        <td>
                            @Html.ActionLink("Detalhes", "Details", new { id = item.RequisicaoId }, new { @class = "btn btn-info" })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" style="text-align:center">Nenhum Registro Encontrado</td>
                </tr>
            }
        </tbody>
    </table>
</div>