@model WEB.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Details";
}

<div class="titulo-invoice">
    <h4>Detalhes do Produto</h4>
    <hr />
</div>
<div class="invoice">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoCusto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoCusto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoComposto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoComposto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liberado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liberado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </dt>
        @if(Model.DataAtualizacao != null)
        {
            <dd>
                @Html.DisplayFor(model => model.DataAtualizacao.Value)
            </dd>
        }        
    </dl>


    @if (Model.ProdutoComposto)
    {
        <h4>Produtos Composição</h4>
        <hr />
        <dl class="dl-horizontal">
            @foreach (var prod in Model.ProdutosCompostos)
            {
                <dt>
                    @prod.ProdutoComposicao.Nome
                </dt>

                <dd>
                    @prod.Quantidade Unidades
                </dd>
            }

        </dl>
    }
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.ProdutoId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default", @style = "float:right" })
    </p>
</div>
