@model WEB.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProdutoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoCusto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoCusto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecoVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecoVenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdutoComposto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdutoComposto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Liberado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liberado)
        </dd>

    </dl>
</div>


@if (Model.ProdutoComposto)
{
    <h4>Produtos Composição</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var prod in Model.ProdutosCompostos)
        {
            <dt>
                @prod.ProdutoComposicao.Nome
            </dt>

            <dd>
                @prod.Quantidade Unidades
            </dd>
        }

    </dl>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
