@model IEnumerable<WEB.ViewModels.ProdutoViewModel>

<div class="content-header" style="padding-left:25px; padding-right: 25px;">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Produtos</h1>
            </div>
        </div>
    </div>
    <hr />
</div>
<div class="content invoice">
    <div class="container-fluid">

        <div style="display:flex; margin-bottom:20px;margin-top: 20px">
            <div class="col-3">
                <p>
                    @Html.ActionLink("Novo Produto", "Create", null, new { @class = "btn btn-success" })
                </p>
            </div>
            <div class="col-6">
                @using (Html.BeginForm("Index", "Produto"))
                {
                    <div style="display:flex">
                        @Html.TextBox("buscar", null, new { @class = "form-control", placeholder = "Busca", @value = ViewBag.search })
                        <input type="submit" value="Buscar" class="btn btn-success" style="margin-left:10px"></input>
                    </div>
                }
            </div>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th width="200">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrecoCusto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrecoVenda)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProdutoComposto)
                    </th>
                    <th> Ações</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td width="200">
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecoCusto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PrecoVenda)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProdutoComposto)
                            </td>
                            <td>
                                @if (item.ProdutoComposto)
                                {
                                    @Html.ActionLink("Composição", "Create", "ProdutoComposto", new { id = item.ProdutoId }, new { @class = "btn btn-default" })
                                }
                                @Html.ActionLink("Editar", "Edit", new { id = item.ProdutoId }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("Detalhes", "Details", new { id = item.ProdutoId }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Deletar", "Delete", new { id = item.ProdutoId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" style="text-align:center">Nenhum Registro Encontrado</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
